<style>
    body {
      background: #E8E8E8;
      background-image: url(images/twitter_handle.png);
      background-position: top right;
      background-repeat: no-repeat;
      background-attachment:fixed;
    }
</style>